@using EMS.Core.User
@using EMS.WebApp.MVC.Extensions;
@inject IAspNetUser AppUser

<div class="header">
    <div class="header-left active">
        <a asp-controller="Dashboard" asp-action="Index" class="logo">
            <img src="~/template_admin_2/img/logo/logo_escuro.svg" alt="" />
        </a>
        <a asp-controller="Dashboard" asp-action="Index" class="logo-small">
            <img src="~/template_admin_2/img/logo/icone_escuro.svg" alt="" />
        </a>
        <a id="toggle_btn" href="javascript:void(0);"> </a>
    </div>

    <a id="mobile_btn" class="mobile_btn" href="#sidebar">
        <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>

    <ul class="nav user-menu">
        <li class="nav-item dropdown has-arrow main-drop">
            <a href="javascript:void(0);"
               class="dropdown-toggle nav-link userset"
               data-bs-toggle="dropdown">
                <span class="user-img">
                    <img src="https://s.gravatar.com/avatar/@this.HashEmailForGravatar(AppUser.GetUserEmail())?d=mm&s=45" alt="" />
                    <span class="status online"></span>
                </span>
            </a>
            <div class="dropdown-menu menu-drop-user">
                <div class="profilename">
                    <div class="profileset">
                        <div class="profilesets">
                            <h6>@AppUser.GetUserEmail()</h6>
                        </div>
                    </div>
                    <hr class="m-0" />
                    <a class="dropdown-item" asp-controller="Employees" asp-action="UpdateProfile">
                        <i class="me-2" data-feather="user"></i> Perfil
                    </a>
                    <hr class="m-0" />

                    <a class="dropdown-item logout pb-0" asp-controller="Authentication" asp-action="Logout">
                        <img src="~/template_admin_2/img/icons/log-out.svg"
                             class="me-2"
                             alt="img" />Sair
                    </a>
                </div>
            </div>
        </li>
    </ul>

    <div class="dropdown mobile-user-menu">
        <a href="javascript:void(0);"
           class="nav-link dropdown-toggle"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" asp-controller="Dashboard" asp-action="UpdateProfile">Perfil</a>
            <a class="dropdown-item" asp-controller="Authentication" asp-action="Logout">Sair</a>
        </div>
    </div>
</div>