@page "/registrar"
@inherits CreatePage
@layout AuthLayout

<PageTitle>Login</PageTitle>

<div class="mud-container mud-container-maxwidth-sm d-flex align-center" style="height: 100vh;">
    <div class="d-flex flex-column mud-width-full">
        <MudPaper Elevation="25" Class="pa-8" Style="width:100%;max-width:500px;">
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync" class="mud-form">
                <DataAnnotationsValidator />
                <MudText Typo="Typo.h4" Class="mt-4">E-Management System</MudText>
                <MudText Typo="Typo.body1">
                    Já possui uma conta? 
                    <MudLink Href="/login" Class="mud-primary-text mud-link-underline-hover">Entrar</MudLink>
                </MudText>
                <MudTextField Label="E-mail" Placeholder="name@example.com" @bind-Value="InputModel.Email" For="@(() => InputModel.Email)" Required="true" FullWidth="true" Class="my-6" />
                <MudTextField Label="Senha" InputType="InputType.Password" @bind-Value="InputModel.Password" For="@(() => InputModel.Password)" Required="true" FullWidth="true" />
                <MudTextField Label="Confirmar Senha" InputType="InputType.Password" @bind-Value="InputModel.ConfirmPassword" For="@(() => InputModel.ConfirmPassword)" Required="true" FullWidth="true" />
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="mt-4">Registrar</MudButton>
                @* <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="mt-4">Sign In As Guest</MudButton> *@
            </EditForm>
        </MudPaper>
    </div>
</div>